appdirs==1.4.0
bcrypt==3.1.2
cffi==1.9.1
click==6.7
Flask==0.12
Flask-JWT-Extended==1.3.0
Flask-Redis==0.3.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pycparser==2.17
PyJWT==1.4.2
pyparsing==2.1.10
redis==2.10.5
simplekv==0.10.0
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
WTForms==2.1
